In [1]:


import mysql.connector
from mysql.connector import Error

In [2]:
def create_server_connection(host_name,user_name,user_password):
	connection=None
	try:
		connection=mysql.connector.connect(host=host_name,user=user_name,password=user_password)
		print("Mysql connection was successfull")
	except Error as err:
		print(f"Error:'{err}'")
	return connection
pw="root"
db="intern" #write your database name
connection=create_server_connection("localhost","root","root")

Mysql connection was successfull

In [11]:
def create_database(connection,query):
 	cursor=connection.cursor()
 	try:
 		cursor.execute(query)
 		print("Database Create successfully")
 	except Error as err:
 		print(f"Error: '{err}'")
create_database_query="create database intern"
create_database(connection,create_database_query)

Database Create successfully

In [3]:
def create_db_connection(host_name,user_name,user_password,db_name):
	connection=None
	try:
		connection=mysql.connector.connect(host=host_name,user=user_name,password=user_password,database=db_name)
		
	except Error as err:
		print(f"Error: '{err}'")
	return connection

In [4]:
def execute_query(connection,query):
	cursor=connection.cursor()
	try:
		cursor.execute(query)
		connection.commit()
		print("query was successfull")
	except Error as err:
		print(f"Error: '{err}'")

In [5]:
def read_query(connection,query):
	cursor=connection.cursor()
	result=None
	try:
		cursor.execute(query)
		result=cursor.fetchall()
		return result
	except Error as err:
		print(f"Error : '{err}'")

In [6]:
q1="""
select * from customer_details;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q1)
for result in results:
	print(result)

(105, 'sai', 'water bottles', datetime.date(2019, 1, 4), datetime.date(2019, 1, 10), 32, 5, 'M')
(115, 'sona', 'watch', datetime.date(2019, 5, 5), datetime.date(2019, 5, 14), 15, 1, 'F')
(121, 'arun', 'perfume', datetime.date(2019, 11, 5), datetime.date(2019, 11, 10), 25, 5, 'M')
(122, 'balu', 'watch', datetime.date(2020, 2, 13), datetime.date(2020, 2, 20), 20, 4, 'M')
(128, 'kumar', 'perfume', datetime.date(2019, 10, 5), datetime.date(2019, 10, 15), 30, 2, 'M')
(129, 'suresh', 'water bottles', datetime.date(2019, 6, 15), datetime.date(2019, 6, 21), 25, 4, 'M')
(134, 'shanu', 'mask', datetime.date(2019, 12, 14), datetime.date(2019, 12, 20), 30, 5, 'M')
(135, 'megha', 'mask', datetime.date(2020, 3, 5), datetime.date(2020, 3, 10), 16, 2, 'F')
(140, 'karuna', 'watch', datetime.date(2020, 12, 5), datetime.date(2020, 12, 11), 24, 3, 'F')
(142, 'natraj', 'perfume', datetime.date(2019, 4, 25), datetime.date(2019, 4, 30), 34, 2, 'M')
(145, 'pallavi', 'mask', datetime.date(2020, 6, 7), datetime.date(2020, 6, 15), 32, 5, 'F')
(147, 'ravi', 'mask', datetime.date(2020, 2, 13), datetime.date(2020, 2, 19), 26, 5, 'M')
(148, 'raju', 'perfume', datetime.date(2019, 8, 10), datetime.date(2019, 8, 15), 19, 3, 'M')
(150, 'mahi', 'handwash', datetime.date(2019, 11, 12), datetime.date(2019, 11, 20), 26, 1, 'M')
(151, 'vamsi', 'perfume', datetime.date(2020, 1, 2), datetime.date(2020, 1, 10), 35, 3, 'M')
(152, 'thanu', 'lipstick', datetime.date(2019, 4, 13), datetime.date(2019, 4, 20), 21, 5, 'F')
(154, 'ramesh', 'perfume', datetime.date(2020, 1, 25), datetime.date(2020, 1, 30), 21, 5, 'M')
(164, 'lahari', 'mask', datetime.date(2020, 4, 5), datetime.date(2020, 4, 13), 24, 4, 'F')
(169, 'abhi', 'mask', datetime.date(2020, 4, 3), datetime.date(2020, 4, 10), 19, 1, 'M')
(170, 'vicky', 'watch', datetime.date(2019, 12, 12), datetime.date(2019, 12, 16), 20, 2, 'M')
(174, 'anshu', 'sanitizer', datetime.date(2020, 3, 1), datetime.date(2020, 3, 7), 30, 4, 'F')

In [7]:

q2="""
select cname,review  from customer_details where review=5;
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q2)
print('Excellent review')
for result in result1:
	print(result)

Excellent review
('sai', 5)
('arun', 5)
('shanu', 5)
('pallavi', 5)
('ravi', 5)
('thanu', 5)
('ramesh', 5)

In [8]:
q3="""
select cname,review  from customer_details where review=4;
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q3)
print('good review')
for result in result1:
	print(result)

good review
('balu', 4)
('suresh', 4)
('lahari', 4)
('anshu', 4)

In [9]:

q4="""
select cname,review  from customer_details where review=3;
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q4)
print('Average review')
for result in result1:
	print(result)

Average review
('karuna', 3)
('raju', 3)
('vamsi', 3)

In [10]:
q5="""
select cname,review  from customer_details where review=2;
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q5)
print('Below Average review')
for result in result1:
	print(result)

Below Average review
('kumar', 2)
('megha', 2)
('natraj', 2)
('vicky', 2)

In [11]:
q6="""
select cname,review  from customer_details where review=1;
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q6)
print('Poor review')
for result in result1:
	print(result)

Poor review
('sona', 1)
('mahi', 1)
('abhi', 1)

In [12]:
q7="""
select cname,review  from customer_details order by review;
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q7 )
print('From Poor to Excellent review')
for result in result1:
	print(result)

From Poor to Excellent review
('sona', 1)
('mahi', 1)
('abhi', 1)
('megha', 2)
('vicky', 2)
('kumar', 2)
('natraj', 2)
('raju', 3)
('karuna', 3)
('vamsi', 3)
('lahari', 4)
('suresh', 4)
('balu', 4)
('anshu', 4)
('ramesh', 5)
('thanu', 5)
('ravi', 5)
('pallavi', 5)
('shanu', 5)
('arun', 5)
('sai', 5)

In [13]:

q8="""
select cname,review  from customer_details where pname='perfume';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q8 )
print('Review on Perfume')
for result in result1:
	print(result)

Review on Perfume
('arun', 5)
('kumar', 2)
('natraj', 2)
('raju', 3)
('vamsi', 3)
('ramesh', 5)

In [14]:

q9="""
select cname,review  from customer_details where pname='water bottles';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q9 )
print('Review on Water Bottle')
for result in result1:
	print(result)

Review on Water Bottle
('sai', 5)
('suresh', 4)

In [15]:
q10="""
select cname,review  from customer_details where pname='watch';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q10 )
print('Review on Watch')
for result in result1:
	print(result)

Review on Watch
('sona', 1)
('balu', 4)
('karuna', 3)
('vicky', 2)

In [16]:
q11="""
select cname,review  from customer_details where pname='mask';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q11 )
print('Review on mask')
for result in result1:
	print(result)

Review on mask
('shanu', 5)
('megha', 2)
('pallavi', 5)
('ravi', 5)
('lahari', 4)
('abhi', 1)

In [17]:
q12="""
select cname,review  from customer_details where pname='sanitizer';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q12 )
print('Review on sanitizer')
for result in result1:
	print(result)

Review on sanitizer
('anshu', 4)

In [18]:
q13="""
select cname,review  from customer_details where pname='lipstick';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q13 )
print('Review on lipstick')
for result in result1:
	print(result)

Review on lipstick
('thanu', 5)

In [19]:
q14="""
select cname,review  from customer_details where pname='handwash';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q14 )
print('Review on handwash')
for result in result1:
	print(result)

Review on handwash
('mahi', 1)

In [20]:
q15="""
select cname,pname,review  from customer_details where Year(rdate)='2019';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q15 )
print('product review in the year of 2019')
for result in result1:
	print(result)

product review in the year of 2019
('sai', 'water bottles', 5)
('sona', 'watch', 1)
('arun', 'perfume', 5)
('kumar', 'perfume', 2)
('suresh', 'water bottles', 4)
('shanu', 'mask', 5)
('natraj', 'perfume', 2)
('raju', 'perfume', 3)
('mahi', 'handwash', 1)
('thanu', 'lipstick', 5)
('vicky', 'watch', 2)

In [21]:
q16="""
select cname,pname,review  from customer_details where Year(rdate)='2020';
"""
connection=create_db_connection("localhost","root",pw,db)
result1=read_query(connection,q16 )
print('product review in the year of 2020')
for result in result1:
	print(result)

product review in the year of 2020
('balu', 'watch', 4)
('megha', 'mask', 2)
('karuna', 'watch', 3)
('pallavi', 'mask', 5)
('ravi', 'mask', 5)
('vamsi', 'perfume', 3)
('ramesh', 'perfume', 5)
('lahari', 'mask', 4)
('abhi', 'mask', 1)
('anshu', 'sanitizer', 4)